name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_KEY }}

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
          java-version: 17
          distribution: 'temurin'

    - name: Build project
      run: ./gradlew clean build -x test

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(git rev-parse --short "$GITHUB_SHA")

    - name: Push Docker image
      run: docker push ${{ env.DOCKERHUB_USERNAME }}/sampleapp-${git rev-parse --short HEAD}:sampleapp-${git rev-parse --short HEAD}